<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!--<script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>-->
<body>

<input id="user_id">
<button id="submit">提交</button>
<script>
    $(document).ready(function() {
        $("button").click(function () {
            $.post("/",
                {
                    user_id: $('#user_id').val()
                },
                function (data) {
                    alert("Data:"+data.data+data.status);
                });
        });
    });
</script>
</body>
</html>
<body>
<% for (var key in data){ %>
<key> <%= key %></key>
<value> <%= data[key] %></value>

<% } %>

<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height:900px"></div>
<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>


<script type="text/javascript">
    // 路径配置

    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });
    // 使用
    require(
        [
            'echarts',
            'echarts/chart/bar', // 使用柱状图就加载bar模块，按需加载
            'echarts/chart/force'
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var myChart = ec.init(document.getElementById('main'));
            var mynode=[];
            var mylinks=[];
//            var mynode="[";
            mynode.push({
                    name: '<%= user %>',
                    value :100
                }
            );
            $('key').each(function (index,element) {
//                    mynode +='{"name":"'+$(this).text()+'","value":'+$('value').eq(index).text()+'},';
                mynode.push({
                    name: $(this).text(),
                    value :$('value').eq(index).text()
                    }
                );
                mylinks.push({
                    source : '<%= user %>',
                    target: $(this).text(),
                    weight: $('value').eq(index).text()

            })
            });
//            mynode+=']';
            console.log(mynode);




            var option = {
                tooltip: {
                    trigger: 'item',
                    borderRadius: 8,//边框圆角
                    backgroundColor: 'rgba(51,204,204,0.7)',//背景颜色（此时为默认色）
                    formatter: "<a href='index.html'>"
                },
                title : {
                    text: '网易云用户关系图',
                    subtext: '千万级数据',
                    x:'left',
                    y:'bottom'
                },
                toolbox: {
                    show : true,
                    feature : {
                        restore : {show: true},
                        magicType: {show: true, type: ['force', 'chord']},
                        saveAsImage : {show: true}
                    }
                },
                series : [
                    {
                        type:'force',
                        name : "人物关系",
                        ribbonType: false,
                        categories : [
                        ],
                        itemStyle: {
                            normal: {
                                label: {
                                    show: true,
                                    textStyle: {
                                        color: '#333',
                                        fontWeight:'bolder',
                                        fontSize:'25'
                                    }
                                },
                                nodeStyle : {
                                    brushType : 'both',
                                    borderColor : 'rgba(255,215,0,0.4)',
                                    borderWidth : 4
                                },
                                linkStyle: {
                                    type: 'curve'
                                }
                            },
                            emphasis: {
                                label: {
                                    show: false
                                    // textStyle: null      // 默认使用全局文本样式，详见TEXTSTYLE
                                },
                                nodeStyle : {
//                        r: 30
                                },
                                linkStyle : {}
                            }
                        },
                        useWorker: false,
                        minRadius : 10,
                        maxRadius : 60,
                        gravity: 0.4,
                        scaling: 5.0,
                        roam: true,

                        nodes:mynode,
                        links : mylinks
                    }
                ]
            };
            // 为echarts对象加载数据
            myChart.setOption(option);
        }
    );
</script>
</body>